In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
nrows = None # Integer number of rows to load from each file. Use None to read in all rows.
data_dir = '../data/FFIEC/'

In [4]:
# Build list of data files:
sub_directories = os.listdir(data_dir)
data_files = []
for sub_dir in sub_directories:
    files = os.listdir(data_dir + sub_dir)
    for file in files:
        # keep only txt files
        if file[-3:] == 'txt' and 'Readme' not in file:
            data_files.append(data_dir + sub_dir + '/' + file)

print(f'Number of files: {len(data_files)}')
# for data_file in data_files:
#     print(data_file)

Number of files: 82

In [5]:
target_column = 'UBPR1763'
found = False
for data_file in data_files:
    with open(data_file) as f:
        for _ in range(10):
            line = f.readline()
            if target_column in line:
                print(f'The target column ({target_column}) was found in {data_file}')
                target_file = data_file

The target column (UBPR1763) was found in ../data/FFIEC/FFIEC CDR Bulk All UBPR Ratios 2020/FFIEC CDR UBPR Ratios Concept Not In Presentation 2020.txt

In [6]:
df = pd.read_csv(target_file, delimiter='\t', low_memory=False, skiprows=[1])

In [7]:
df['ID RSSD'==480228] # ID RSSD 480228 is Bank of America

KeyError: False

In [51]:
df.head()

,Reporting Period,ID RSSD,UBPR0073,UBPR0074,UBPR0083,UBPR0085,UBPR0090,UBPR0211,UBPR0426,UBPR1227,...,UBPRM278,UBPRM962,UBPRNL31,UBPRNL32,UBPRPG63,UBPRPG66,UBPRR031,UBPRR033,UBPRR035,Unnamed: 1218
0,3/31/2020 11:59:59 PM,37,NaN,NaN,NaN,NaN,NaN,0,0,0,...,NaN,NaN,1550.0,2050.0,66.67,116,NaN,NaN,21.00,NaN
1,3/31/2020 11:59:59 PM,242,NaN,NaN,NaN,NaN,NaN,0,0,0,...,NaN,NaN,3424.0,4671.0,-68.42,184,NaN,NaN,12.03,NaN
2,3/31/2020 11:59:59 PM,279,NaN,NaN,NaN,NaN,NaN,0,776,0,...,103M,NaN,20291.0,19548.0,32.14,333,NaN,NaN,11.55,NaN
3,3/31/2020 11:59:59 PM,354,NaN,NaN,NaN,NaN,NaN,0,0,0,...,NaN,NaN,0.0,40.0,NaN,-33,NaN,NaN,10.28,NaN
4,3/31/2020 11:59:59 PM,457,NaN,NaN,NaN,NaN,NaN,0,0,0,...,NaN,NaN,5059.0,2210.0,-26.67,233,10.16,11.35,8.34,NaN

In [58]:
row_count = len(df)
print(f'The number of rows of data is: {row_count}')

The number of rows of data is: 20411

In [53]:
len(df.columns)

1219

In [54]:
df[target_column].dtype

dtype('float64')

In [55]:
# df[target_column] = df[target_column].astype('Int64')

In [59]:
nan_count = (~np.isnan(df[target_column])).sum()
print(f'The number of rows with non-NaN data in {target_column} is {nan_count}')

The number of rows with non-NaN data in UBPR1763 is 3725

In [47]:
df[target_column].head()

0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: UBPR1763, dtype: Int64